@{
    ViewBag.Title = "Home Page";
}




<!doctype html>
<html>
<head>
    <title><h1>Estacionamento</h1></title>
</head>
<body>
    <figure>
        <center>
            <img src="https://www.design.com.br/wp-content/uploads/2008/02/carro-jpg.jpg" width="900" heigth="400 alt="Grafica viena" />
    </figure>
</body>
</html>